a:hover,
a:focus {
    color: #233d7b;
}
.n-extra-btn-section .btn-mid.btn-clear {
    color: #233d7b;
}
.n-extra-btn-section .btn-mid.btn-clear:hover {
    background-color: #233d7b;
    border-color: #233d7b;
}
.scrollup {
    background-color: #233d7b;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #233d7b;
}
.mega-menu .drop-down-multilevel li:hover > a,
.mega-menu .drop-down-multilevel li:focus > a {
    color: #233d7b;
}
.n-hero-8 .n-8-container .n-8-product ul li i {
    background-color: #233d7b;
}
.n-btn-rounded {
    background-color: #233d7b;
    border-color: #233d7b;
}
.n-btn-flat {
    background-color: #233d7b;
    border-color: #233d7b;
}
.heading-title h2::after {
    background-color: #233d7b;
}
.heading-title.left .view-more {
    border-left: 2px solid #233d7b;
}
.mega-menu .menu-button li.profile-pic ul li a:hover {
    color: #233d7b;
}
.mega-menu.n-header-trabsparent .menu-button a.n-btn-flat {
    background-color: #233d7b;
}
.mega-menu.n-admin-header .menu-button a.n-btn-flat {
    background-color: #233d7b;
}
.n-jobs-recomend3 .nav-tabs > li.active a {
    background-color: #233d7b;
}
.n-hero-8 .n-8-container .n-8-content h1 span {
    color: #233d7b;
}
.n-job-listing5 .nav-tabs > li.active > a {
    background-color: #233d7b;
}
.n-hero-section .n-hero-box .n-most-cat .n-most-cat-list a:hover {
    color: #233d7b;
}
.n-hero-section .n-hero-box .n-saech-form .n-btn-flat:hover,
.n-hero-section .n-hero-box .n-saech-form .n-btn-flat:focus {
    background: #233d7b;
    background: -webkit-linear-gradient(to right, #233d7b, #233d7b);
    background: linear-gradient(to right, #233d7b, #233d7b);
    border-color: #233d7b;
}
.n-hero-cat-section .n-hero-cat-heading h4:before {
    background-color: #233d7b;
}
.n-hero-section-two .n-hero-two-form-cat .n-most-two-cat .n-most-cat-list a:hover {
    color: #233d7b;
}
.n-featured-jobs .n-featured-job-boxes .n-job-single .n-job-detail ul li.n-job-title-box p i {
    color: #233d7b;
}
.n-featured-jobs .n-featured-job-boxes .n-job-single .n-job-detail ul li.n-job-title-box p a {
    color: #233d7b;
}
.n-featured-jobs .n-featured-job-boxes .n-job-single .n-job-detail ul li.n-job-btns .n-btn-rounded {
    color: #233d7b;
    border-color: #233d7b;
}
.n-featured-jobs .n-featured-job-boxes .n-job-single:hover li.n-job-btns a.n-btn-rounded {
    background-color: #233d7b;
    border-color: #233d7b;
    color: #FFF;
}
.n-call-to-action .n-extra-btn-section .btn-mid.btn-clear:hover {
    border-color: #233d7b;
}
.how-it-works.style-2 .work-points .h-i-w-content-box i {
    color: #233d7b;
}
.n-pricing-plan .n-price-single .n-price-top {
    background: #233d7b;
    background: -webkit-linear-gradient(to right, #233d7b, #233d7b);
    background: linear-gradient(to right, #233d7b, #233d7b);
}
.n-pricing-plan .n-price-single .n-price-top .n-price-top-text h3,
.n-pricing-plan .n-price-single .n-price-top .n-price-top-text p {
    color: #FFF;
}
.n-client .n-client-heading h4::before {
    background-color: #233d7b;
}
.n-client .n-client-heading h4::after {
    background-color: #233d7b;
}
.n-footer-transparent .n-footer-bottom a {
    color: #233d7b;
}
.n-featured-jobs-two .n-features-job-two-box .n-featured-single .n-featured-single-top .n-featured-singel-meta p i {
    color: #233d7b;
}
.n-featured-jobs-two .n-features-job-two-box .n-featured-single .n-featured-single-bottom li i {
    color: #233d7b;
}
.n-owl-testimonial-2 .n-single_testimonial i {
    color: #233d7b;
}
.n-owl-testimonial-2 .n-single_testimonial .n-user-meta .n-user-detail p {
    color: #233d7b;
}
.n-candidate-location i {
    color: #233d7b;
}
.n-candidate-skills a:hover {
    background-color: #233d7b;
    border: 1px solid #233d7b;
}
.n-candidates-single-bottom a:hover {
    background-color: #233d7b;
}
#search-widget .btn {
    color: #233d7b;
}
.new-sidebar .heading h4:before {
    background-color: #233d7b;
}
.new-sidebar .heading a {
    color: #233d7b;
}
.n-search-main .n-bread-crumb .breadcrumb li.active a {
    color: #233d7b;
}
.pagination > li > a.active,
.pagination > li.active > span,
.pagination > li > a:hover,
.pagination > li.active > a,
.pagination > li.active > a:hover,
.pagination > li.active > span:hover {
    background-color: #233d7b;
}
.pagination > li > span.current {
    background-color: #233d7b;
}
.new-sidebar .vertical-single-job p i,
.new-sidebar .vertical-single-job span i {
    color: #233d7b;
}
.n-single-job .n-single-title ul li.salary {
    color: #233d7b;
}
.show_icon ul li i {
    color: #233d7b !important;
}
aside.n-single-sidebar .apply-buttons .btn-theme {
    color: #233d7b;
}
.n-single-job-company .view-profile {
    background-color: #233d7b;
}
.n-breadcrumb-big .breadcrumb-text h2::before {
    background-color: #233d7b;
}
.n-candidate-detail .n-candidate-meta .timeline-box ul.education li > span:before {
    background-color: #233d7b;
}
.n-candidate-detail .n-candidate-meta .timeline-box div .type {
    color: #233d7b;
}
.n-candidate-detail .n-candidate-info ul li i {
    color: #233d7b;
}
.user-resume2-breadcrumb .n-candidate-info .n-candidate-meta-box p i {
    color: #233d7b;
}
.n-company-grids .n-company-grid-single .n-company-grid-img .n-company-follow a {
    color: #233d7b;
}
.n-user-page .n-company-list .n-company-meta p.location {
    color: #233d7b;
}
.n-user-page .n-company-list .n-company-meta p.location a {
    color: #233d7b;
}
.author-sidebar .n-company-contact-info .widget h4.widget-heading::before {
    background-color: #233d7b;
}
.user-resume2-breadcrumb .n-company-info .n-company-meta-box p i {
    color: #233d7b;
}
.n-company-breadcrumb .n-company-info .n-company-meta-box p i {
    color: #233d7b;
}
.n-pages-breadcrumb .n-breadcrumb-info h1::before {
    background-color: #233d7b;
}
.n-job-pages-section .n-job-pages .n-page-left-side #status .btn-default.active {
    background: #233d7b;
    background: -webkit-linear-gradient(to right, #233d7b, #233d7b);
    background: linear-gradient(to right, #233d7b, #233d7b);
    border-color: #233d7b;
}
.n-job-pages-section .n-job-pages.user-section #status .btn-default.active {
    background: #233d7b;
    background: -webkit-linear-gradient(to right, #233d7b, #233d7b);
    background: linear-gradient(to right, #233d7b, #233d7b);
    border-color: #233d7b;
}
.search-map-filters .form-group .slider.slider-horizontal .slider-track {
    background: #233d7b;
}
.blog-detail-page .post-info a {
    color: #233d7b;
}
.blog-detail-page .post-title a:hover {
    color: #233d7b;
}
.blog-detail-page blockquote {
    border-left: 5px solid #233d7b;
}
.blog-sidebar .search-blog .stylish-input-group .input-group-addon {
    background-color: #233d7b;
}
.blog-sidebar .widget .widget-heading::before {
    background-color: #233d7b;
}
.blog-sidebar .widget .categories-module li a:hover {
    color: #233d7b;
}
.blog-sidebar .widget .related-post li a:hover {
    color: #233d7b;
}
.comment-reply-link:hover {
    background-color: #233d7b;
}
.drop-accordion .panel-title .expand-icon-wrap {
    border-left: 1px solid #d9d7d7;
}
.drop-accordion .panel-title .expand-icon-wrap {
    color: #233d7b;
}
.drop-accordion .panel-body-icon i {
    color: #233d7b;
}
.drop-accordion .tab-collapsed {
    background: #233d7b;
}
blockquote {
    border-left: 5px solid #233d7b;
}
.about-us h2 {
    color: #233d7b;
}
.services-grid i {
    color: #233d7b;
}
.categories-section-2 .popular-categories li a i {
    color: #233d7b;
}
.resume-3-sidebar .n-candidate-info ul li i {
    color: #233d7b;
}
.resume-3-sidebar .widget h4.widget-heading::before {
    background-color: #233d7b;
}
.resume-3-sidebar .n-candidate-info h4.widget-heading::before {
    background-color: #233d7b;
}
.resume-timeline .resume-timeline-box .degree-duration {
    background-color: #233d7b;
}
.resume-timeline .resume-timeline-box .degree-duration::before,
.resume-timeline .resume-timeline-box .degree-duration::after {
    border-right: 5px solid #233d7b;
}
.resume-3-portfolio ul li a img:hover {
    border-color: #233d7b;
}
.resume-3-detail .resume-3-box .progress-bar {
    background: #233d7b;
}
.n-hero-section .n-hero-box .n-saech-form .n-btn-flat:hover,
.n-hero-section .n-hero-box .n-saech-form .n-btn-flat:focus {
    color: #FFF;
}
@media screen and (max-width:767px) {
    .mega-menu .menu-links > li.activeTriggerMobile {
        background-color: #233d7b;
    }
}
@media screen and (min-width:768px) {
    .mega-menu .menu-links > li.activeTrigger {
        background-color: #233d7b;
    }
}
/*.mega-menu .drop-down-multilevel li:hover>a, .mega-menu .drop-down-multilevel li:focus>a {
    color: #233d7b;
}
*/
@media screen and (min-width:768px) {
    .mega-menu .drop-down-multilevel li.activeTrigger {
        background: #233d7b;
    }
}
@media screen and (max-width:767px) {
    .mega-menu .drop-down-multilevel li.activeTriggerMobile {
        background: #233d7b;
    }
}
.mega-menu .drop-down a:hover {
    color: #233d7b;
}
.mega-menu .drop-down h4,
.mega-menu .drop-down-tab-bar h4 {
    color: #233d7b;
}
.mega-menu .drop-down a:hover,
.mega-menu .drop-down-tab-bar a:hover {
    color: #233d7b;
}
@media screen and (min-width:768px) {
    .mega-menu.vertical-left .menu-search-bar input,
    .mega-menu.vertical-left .menu-search-bar li,
    .mega-menu.vertical-left .menu-search-bar form,
    .mega-menu.vertical-left .menu-search-bar label,
    .mega-menu.vertical-right .menu-search-bar input,
    .mega-menu.vertical-right .menu-search-bar li,
    .mega-menu.vertical-right .menu-search-bar form,
    .mega-menu.vertical-right .menu-search-bar label {
        background: #233d7b;
        ;
    }
}
.mega-menu a:active,
.mega-menu a:hover {
    color: #233d7b;
}
.comment-list .comment-info .author-title ul.list-inline li a.comment-reply-link {
    background-color: #233d7b;
    border: 1px solid #233d7b;
}
.comment-list .comment-info .author-title ul.list-inline li a.comment-reply-link:hover {
    border: 1px solid #233d7b;
    color: #233d7b;
}
.entry-content p a {
    color: #233d7b;
}
.post-password-form input[type="submit"] {
    background-color: #233d7b;
    border: 1px solid #233d7b;
}
.post-password-form input[type="submit"]:hover {
    border: 1px solid #233d7b;
    color: #233d7b;
}
aside .widget ul li a:hover {
    color: #233d7b !important;
}
aside .widget ul li a:hover {
    color: #233d7b;
}
aside .widget .tagcloud a:hover {
    background-color: #233d7b;
    border: 1px solid #233d7b;
}
#wp-calendar tbody td#today {
    background-color: #233d7b;
    border: 1px solid #233d7b;
}
#cancel-comment-reply-link {
    background-color: #233d7b;
    border: 1px solid #233d7b;
}
#cancel-comment-reply-link:hover {
    border: 1px solid #233d7b;
    color: #233d7b;
}
.search-form .input-group-addon {
    background-color: #233d7b;
    border: 1px solid #233d7b
}
.dwt_listing_single-product .owl-theme .owl-dots .owl-dot.active span,
.dwt_listing_single-product .owl-theme .owl-dots .owl-dot:hover span {
    background: #233d7b
}
.dwt_listing_product-details .dwt_listing_product-title::before {
    background-color: #233d7b
}
.dwt_listing_product-details .product-short-description h2::before {
    background-color: #233d7b
}
.dwt_listing_shop-container-single .nav-tabs > li.active > a,
.dwt_listing_shop-container-single .nav-tabs > li.active > a:focus,
.dwt_listing_shop-container-single .nav-tabs > li.active > a:hover {
    border-top: 2px solid #233d7b;
}
.related-produt-slider.owl-carousel .owl-nav button.owl-next,
.related-produt-slider.owl-carousel .owl-nav button.owl-prev,
.related-produt-slider.owl-carousel button.owl-dot {
    background-color: #233d7b;
}
.shop-sidebar .widget .widget-heading h4::before {
    background-color: #233d7b
}
.shop-sidebar .widget .tagcloud a:hover {
    background: #233d7b;
    border: 1px solid #233d7b
}
.comment-list .comment-info .author-title ul.list-inline li a.comment-reply-link {
    background-color: #233d7b;
    border: 1px solid #233d7b;
}
.comment-list .comment-info .author-title ul.list-inline li a.comment-reply-link:hover {
    border: 1px solid #233d7b;
    color: #233d7b;
}
/*ADMIN CUSTOM STYLE CSS*/
.dashboard-new .menu-avtr-box {
    background-color: #233d7b;
}
.dashboard-new .profile-menu .accordion li a:hover,
.profile-menu .accordion .profile-menu-link:hover {
    color: #233d7b;
}
.dashboard-new .profile-menu .accordion li.open .profile-menu-link,
.dashboard-new .profile-menu .accordion li.open i {
    color: #233d7b;
}
.dashboard-new .profile-menu .submenu a:hover {
    color: #233d7b;
}
.dashboard-new .dashboard-job-stats-table tr td a:hover {
    color: #233d7b;
}
.company-search-toggle .toggle .btn-primary {
    background-color: #233d7b;
}
.company-search-toggle .toggle.btn-primary {
    background-color: #233d7b;
    border-color: #233d7b;
}
.dashboard-new .main-body .dashboard-posted-jobs .posted-job-list ul.list-inline li.posted-job-title .posted-job-title-meta a:hover {
    color: #233d7b;
}
.candidate-resume-page .main-body .company-detail-box .company-meta .tagline {
    color: #233d7b;
}
.company-main .short-detail .short-detail-icon i {
    color: #233d7b;
}
.candidate-resume-page .main-body .resume-box .timeline-box .skills-box li i {
    color: #233d7b;
}
.candidate-resume-page .main-body .timeline-box ul.education li > span:before {
    background-color: #233d7b;
}
.candidate-resume-page .main-body .timeline-box ul.education li .date {
    color: #233d7b;
}
.candidate-resume-page .main-body .timeline-box div .type {
    color: #233d7b;
}
.categories-list-page .alphabets a.active {
    color: #233d7b;
    border: 1px solid #233d7b;
}
.dashboard-new .dashboard-job-filters .form-group .a-btn {
    background-color: #233d7b;
}
.o-single-job-short-detail .short-detail .short-detail-icon i {
    color: #233d7b;
}
aside .app-deadline {
    background-color: #233d7b;
}
aside .apply-buttons .btn-theme {
    color: #233d7b;
}
.dashboard-new .main-body .file-upload-wrapper:before {
    background-color: #233d7b;
    border: 1px solid #233d7b;
}
.dashboard-new .main-body .file-upload-wrapper:hover:before {
    background-color: #233d7b;
}
.counter-active {
    color: #233d7b !important;
}
.review-content-box .review-date .user-profile a {
    text-transform: uppercase;
    color: #233d7b !important;
}
.rating-pagination .current {
    background-color: #233d7b !important;
    border-color: #233d7b !important;
    color: #ffff;
}
.rating-pagination a:hover {
    color: #fff;
    background: #233d7b !important;
    border-color: #ffff;
}
.skills_tags:hover {
    background: #233d7b !important;
    color: #FFF !important;
    border: 1px solid #fb236a;
}